@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*,
*:after,
*.before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

/*CABECERA*/
.cabecera__navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100vw;
    background-color: gray;
}

.cabecera__navbar-item {
   
    list-style-type: none;
}

.cabecera-navbar-btn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7em;
    background-color: burlywood;
    color:ghostwhite;
    padding: 0.5rem 0.4em;
    border-radius: 10px;
}

.titulo{
    padding-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
.campo {
    width: 90vw;
    max-width: 600px;
    margin-bottom: 1em;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campo input{
    width: auto;
}
.campo input[type=text],
.campo input[type=number],
.campo input[type=email],
.campo input[type=password]{
    font-size: 1rem;
    padding: 0.5em;
}
.btn-enviar {
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: green;
    color: azure;
    border: none;
    border-radius: 10px;
}

/*Estilos para el listado de los alumnos*/

.listado__alumnos{
    width: 96vw;
    min-width: 350px;
    max-width: 600px;
    margin: 2em auto;
    border: none;
}


.btn-acciones {
    cursor: pointer;    
    padding: 0.4rem 0.2rem;    
}

.tabla-cabecera{
    background-color: blue;    
}

.tabla-cabecera td {
    padding: 0.5em;
    color: #fff;
}

.tabla-acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabla-fila{
    /*margin-bottom: 1rem;*/
    padding: 0.2em;
   
    border-bottom: solid #666 1px;
    
    
}