<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de alumnos</title>
    <style>
        *,
        *:after,
        *.before{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .campo {
            width: 50vw;
            max-width: 600px;
            margin-bottom: 1em;
        }
    </style>    
</head>
<body>
    <form class="form" action="/insert-alumno" method="post">
        <div class="campo">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" required>
        </div>
        <div class="campo">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
        </div>
        <div class="campo">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="campo">
            <label for="dni">DNI:</label>
            <input type="number" id="dni" name="dni" required>
        </div>
        <div class="campo">
            <label for="mail">Mail:</label>
            <input type="email" id="mail" name="mail" required>
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="submit" value="Ingresar alumno">
    </form>
    
</html>