<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenidos a Node.js y Express</title>
</head>
<body>
    <h1>App con node y express </h1>    
    <p>Podes probar el inicio de sesion o el registro</p><br>
    <p>Logueo de prueba <strong>Usuario: </strong> hash1980 <strong>Password: </strong> 1234</p>
    <form action="/auth" method="post">
        <label for="username">Usuario: </label>
        <input type="text" name ="username" id ="username" required><br>
        <label for="password">Password: </label>
        <input type="text" name ="password" id ="password" required><br>
        <button type="submit">Ingresar</button>
        <a href="/alumnos/crear">Registrarse</a>
    </form>    
    <!--
    <a href="/alumnos/">INGRESAR sin loguearse</a>
    -->
</body>
</html>