<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenidos a Node.js y Express</title>
</head>
<body>
    <h1>Esta es mi primer app!</h1>    
    <p>Podes porbar el inicio de sesion, todavia sin terminar o ...</p><br>
    <form action="/auth" method="post">
        <label for="username">Usuario: </label>
        <input type="text" name ="username" id ="username"><br>
        <label for="password">Password: </label>
        <input type="text" name ="password" id ="password"><br>
        <button type="submit">Ingresar</button>
    </form>    
    <a href="/alumnos/">INGRESAR sin loguearse</a>
    
</body>
</html>